html, body { height: 100%; }

#principale {
    border-radius: 1px;
    background-color: #000000;
}

/* TheLostKey formattazione scritta */
#TLK {
    font-size: 24px; 
    color: #fff; 
    font-weight: bold; 
    padding-left: 40px;
}

/* Formattazione scritte navbar li-a */
.navbar-brand,
.navbar-nav > li > a {
    height: 56px;
    line-height: 40px;
}

/* Login Button */
#btn_login { margin-left: 40px; }

/* Team Button */
#btn_team { margin-left: -10px; }

/* Function a & aa */
a:hover { color: white }
aa:hover { color: #000000 }

/* 3 Piani */
#aa { text-align: center; }

/* HomePage index.html */
#nn1 { margin-left: 20px }

/* Other Pages like doc.html, enigmi.html ecc */
#nnOTHERS { margin-left: 5px }

/* almost footer + footer */
.almost__footer {
    background-color: #000000;
    height: 150px;
    color: #fff
}

#footer_h5 {
    margin-left: 310px;
    padding-top: 30px;
    font-size: 25px;
}

#footer_p {
    margin-left: 310px;
    margin-top: 16px;
}

#button_footer1 {
    height: 42px;
    width: 357px;
    border-radius: 20px;
    margin-left: 700px;
    margin-top: -61.5px;
    position: absolute;
}

#button_footer2 {
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    margin-left: 935px;
    margin-top: -59.5px;
    width: 120px;
}

#colorato {
    background-color: #000000 ;
    height: 200px;
    color: #fff;
}

#f3 {
    text-align: center;
}

#cont {
    text-align: center;
    text-decoration: underline;
}

#tel {
    text-align: center;
}

#email {
    text-align: center;
}

/* cover */
.cover {
    height: 100%;
    background-image: url(img/escapeRoom.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

/* Iphone SE e Samsung Galaxy S8+ */
@media only screen and (max-width: 385px) {
    #TLK {
        font-size: 24px; 
        color: rgb(255, 255, 255); 
        font-weight: bold; 
        padding-left: 0px;
    }
    
    #footer_h5 {
        margin-left: 100px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 60px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 167px;
        border-radius: 20px;
        margin-left: 105px;
        margin-top: -15.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 149px;
        margin-top: -13.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-left: 6px;
        margin-top: -40px;
        width: 340px;
    }

    #btn_team {
        margin-left: 6px;
        margin-top: -30px;
        width: 340px;
    }

    #nnEscapeRooms { 
        width: 325px; 
        margin-top: -5px;
    }

    #nn1 {
        margin-left: 5px;
        width: 340px;
        margin-top: 10px;
    }

    #nnOTHERS {
        margin-top: 5px;
        width: 340px;
    }

    #aa {
        text-align: center;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}

/* Iphone 12 pro e Pixel 5 */
@media only screen and (min-width: 386px) and (max-width: 399px) {
    #TLK {
        font-size: 24px; 
        color: #fff; 
        font-weight: bold; 
        padding-left: 0px;
    }
    
    #footer_h5 {
        margin-left: 106px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 65px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 167px;
        border-radius: 20px;
        margin-left: 114px;
        margin-top: -15.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 158px;
        margin-top: -13.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-left: 6px;
        margin-top: -40px;
        width: 355px;
    }

    #btn_team {
        margin-left: 6px;
        margin-top: -30px;
        width: 355px;
    }

    #nnEscapeRooms { 
        width: 340px; 
        margin-top: -5px;
    }

    #nn1 {
        margin-left: 5px;
        width: 355px;
        margin-top: 10px;
    }

    #nnOTHERS {
        margin-top: 5px;
        width: 355px;
    }

    #aa {
        text-align: center;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}

/* Iphone XR e Samsung Galaxy S20 Ultra e Samsung Galaxy A51/71*/
@media only screen and (min-width: 400px) and (max-width: 767px) {
    #TLK {
        font-size: 24px; 
        color: #fff; 
        font-weight: bold; 
        padding-left: 0px;
    }
    
    #footer_h5 {
        margin-left: 110px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 70px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 167px;
        border-radius: 20px;
        margin-left: 125px;
        margin-top: -15.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 169px;
        margin-top: -13.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-left: 6px;
        margin-top: -40px;
        width: 375px;
    }

    #btn_team {
        margin-left: 6px;
        margin-top: -30px;
        width: 375px;
    }

    #nnEscapeRooms { 
        width: 360px; 
        margin-top: -5px;
    }

    #nn1 {
        margin-left: 5px;
        width: 375px;
        margin-top: 10px;
    }

    #nnOTHERS {
        margin-top: 5px;
        width: 375px;
    }

    #aa {
        text-align: center;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}

/* Ipad Air */
@media only screen and (min-width: 791px) and (max-width: 991px) {
    #TLK {
        font-size: 24px; 
        color: #fff; 
        font-weight: bold; 
        padding-left: 0px;
    }
    
    #footer_h5 {
        margin-left: 310px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 270px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 237px;
        border-radius: 20px;
        margin-left: 289px;
        margin-top: -15.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 403px;
        margin-top: -13.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-left: 150px;
        margin-top: -40px;
        width: 500px;
    }

    #btn_team {
        margin-left: 150px;
        margin-top: -30px;
        width: 500px;
    }

    #nnEscapeRooms { 
        width: 500px; 
        margin-top: -5px;
        margin-left: 145px;
    }

    #aa {
        max-width: 500px;
        margin-left: 150px;
        text-align: center;
    }

    #nn1 {
        margin-left: 150px;
        width: 500px;
        margin-top: 10px;
    }

    #nnOTHERS {
        margin-top: 5px;
        width: 500px;
        margin-left: 150px;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}

/* Ipad Mini */
@media only screen and (min-width: 768px) and (max-width: 790px) {
    #TLK {
        font-size: 24px; 
        color: #fff; 
        font-weight: bold; 
        padding-left: 0px;
    }
    
    #footer_h5 {
        margin-left: 290px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 250px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 237px;
        border-radius: 20px;
        margin-left: 269px;
        margin-top: -15.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 383px;
        margin-top: -13.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-left: 150px;
        margin-top: -40px;
        width: 450px;
    }

    #btn_team {
        margin-left: 150px;
        margin-top: -30px;
        width: 450px;
    }

    #nnEscapeRooms { 
        width: 450px; 
        margin-top: -5px;
        margin-left: 145px;
    }

    #aa {
        max-width: 450px;
        margin-left: 150px;
        text-align: center;
    }

    #nn1 {
        margin-left: 150px;
        width: 450px;
        margin-top: 10px;
    }

    #nnOTHERS {
        margin-top: 5px;
        width: 450px;
        margin-left: 150px;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}

/* Nest Hub */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #footer_h5 {
        margin-left: 197px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 197px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 267px;
        border-radius: 20px;
        margin-left: 609px;
        margin-top: -65.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 753px;
        margin-top: -63.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-right: -16px;
        margin-left: -82px;
        margin-top: 0px;
        width: 75px;
    }

    #btn_team {
        margin-left: -6px;
        margin-right: 20px;
        margin-top: 0px;
        width: 75px;
    }

    #nnEscapeRooms { 
        width: 150px; 
        margin-top: 30px;
        margin-left: -273px;
    }

    #nn1 {
        margin-left: 15px;
        width: 150px;
        margin-top: 8px;
    }

    #nnOTHERS {
        margin-left: 15px;
        margin-top: 8px;
        width: 150px;
    }

    #aa {
        max-width: 150px;
        margin-left: -270px;
        margin-top: 20px;
        text-align: center;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}

/* Nest Hub Max */
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
    #footer_h5 {
        margin-left: 97px;
        padding-top: 30px;
        font-size: 25px;
    }
    
    #footer_p {
        margin-left: 58px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    /* button f1 */
    #button_footer1 {
        height: 42px;
        width: 167px;
        border-radius: 20px;
        margin-left: 109px;
        margin-top: -15.5px;
        position: absolute;
    }
    /* button f2 */
    #button_footer2 {
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        margin-left: 155px;
        margin-top: -13.5px;
        width: 120px;
    }
    
    #btn_login {
        margin-left: 6px;
        margin-top: -40px;
        width: 355px;
    }

    #btn_team {
        margin-left: 6px;
        margin-top: -30px;
        width: 355px;
    }

    #nnEscapeRooms { 
        width: 340px; 
        margin-top: -5px;
    }

    #nn1 {
        margin-left: 5px;
        width: 355px;
        margin-top: 10px;
    }

    #nnOTHERS {
        margin-top: 5px;
        width: 355px;
    }

    #aa {
        text-align: center;
    }

    #principale {
        border-radius: 1px;
        background-color: #000000;
    }
}