@keyframes fade {
	from {opacity: 1;}
	to { opacity: 0.0;}
}

@keyframes fadeTitle {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}

.complete {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	animation: fade 16500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.splash {
	animation: fadeTitle 3000ms ease-in-out forwards ;
}

.secondSplash {
	animation: fadeTitle 3000ms ease-in-out forwards;
}

.skip {
	animation: fade 2000ms ease-in-out 4300ms forwards;
}

.btn-close {
	margin-right: 5px !important;
}